*{
    margin: 0;
    padding: 0;
}
.footer-contaner{
    background-color: #0d1020;
    color:rgb(153, 153, 153);
    height: auto;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}
.footer-contaners{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
.footer-cards li,a{
    text-decoration: none;
    list-style: none;
    color: rgb(153, 153, 153);
    padding-bottom: 3px;
}
.footer-cards h3{
    padding-top: 20px;
    margin-bottom: 10px;
    color: white;
}
.footer-parag{
    text-align: center;
    padding-top : 40px;
    padding-bottom: 10px;
}
/* Responsive  */
 @media (max-width: 768px) {
    .footer-contaners {
        gap: 10px;
        flex-direction: column; 
        padding: 10px;
        
    }
    .footer-cards {
        width: 80%; 
        margin-bottom: 25px;
    }
    .footer-contanters h3 {
        margin-bottom: 10px;
        font-size: 1.2rem;
        text-align: start;
    }
    .footer-contanters ul {
        padding: 0;
    }
    .footer-contanters li {
        margin-bottom: 8px;
    }
    .footer-parag{
        text-align: left;
    }
}